<h1 mat-dialog-title>Editar Post</h1>

<mat-dialog-content [formGroup]="editForm">
  <mat-form-field class="dialogTitle">
    <input matInput name="title" placeholder="Título do Post" formControlName="title">
  </mat-form-field>
  <mat-form-field class="dialogEmail">
    <input matInput name="email" placeholder="Email do Usuário" formControlName="email">
  </mat-form-field>
  <mat-form-field class="dialogBody">
    <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"
      matInput name="body" formControlName="body" placeholder="Conteúdo do Post"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="save()" color="primary">Salvar</button>
</mat-dialog-actions>
