.example-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
}

.example-container>* {
  width: 100%;
}

mat-form-field {
  padding: 10px;
  max-width: 98%;
}

.postUser {
  min-width: 20%;
}

.postTitle {
  min-width: 76%;
}

.btn {
  max-width: 20%;
}
