.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.item-card {
  max-width: 80%;
  min-width: 60%;
  margin-bottom: 25px;
}

mat-card-actions {
  margin-bottom: -1%;
}

.title {
  min-width: 60%;
  margin-right: 10px;;
}

.users {
  min-width: 38%;
}

.body {
  min-width: 100%;
}

.btnSend {
  left: 1%;
}
