.container {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item-card {
    min-width: 80%;
    max-width: 80%;
    margin-bottom: 1%;
}

mat-card-content {
  max-height: 100px;
  overflow: hidden;
}

.button {
  display: flex;
  justify-content: center;
}