<div class="container">
  <mat-card class="item-card">
    <mat-card-header>
      <mat-card-title>Otávio Messias Palma</mat-card-title>
      <mat-card-subtitle>otavio.palma@alunos.ifsuldeminas.edu.br</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
      src="https://media.licdn.com/dms/image/C4D03AQHg5yfNvsBcDg/profile-displayphoto-shrink_200_200/0?e=1576713600&v=beta&t=xqFOp8iR1N3Ev8m2tgEYKVCgO6ty192xcAhbmSrP4z4">
    <mat-card-content>
      <p>
        Celular: (99) 99999-9999 <br>
        Instituição: Instituto Federal do Sul de Minas Gerais - Campus Poços de Caldas <br>
        Curso: Engenharia de Computação <br>
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="item-card">
    <mat-card-header>
      <mat-card-title>Marcos Vinícius Moreira</mat-card-title>
      <mat-card-subtitle>marcos.moreira@alunos.ifsuldeminas.edu.br</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
      src="https://media.licdn.com/dms/image/C4E03AQGMeLVJHAGEMQ/profile-displayphoto-shrink_200_200/0?e=1576713600&v=beta&t=YTfRLvzfg2BT70ujuTR1FcMNzH4SuPKGliCEWuCsbrQ">
    <mat-card-content>
      <p>
        Celular: (99) 99999-9999 <br>
        Instituição: Instituto Federal do Sul de Minas Gerais - Campus Poços de Caldas <br>
        Curso: Engenharia de Computação <br>
      </p>
    </mat-card-content>
  </mat-card>
</div>
