.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item-card {
  max-width: 80%;
  min-width: 55%;
}

mat-card {
  margin-bottom: 25px;
}

mat-card-actions {
  margin-bottom: -25px;
}

.btnSend {
  position: absolute;
  right: 5%;
  top: 30%
}

.name {
  min-width: 25%;
  margin-right: 10px;
}

.username {
  min-width: 25%;
  margin-right: 10px;
}

.email {
  min-width: 25%;
}