<form class="example-container" [formGroup]="userForm" (ngSubmit)="addUser(userForm.value)">
  <div>
    <mat-form-field class="name">
      <input matInput name="name" placeholder="Nome" formControlName="name">
    </mat-form-field>
    <mat-form-field class="username">
      <input matInput name="username" placeholder="Nome de Usuário" formControlName="username">
    </mat-form-field>
    <mat-form-field class="email">
      <input matInput name="email" placeholder="Email" formControlName="email">
    </mat-form-field>
    <button class="btn" type="submit" [disabled]="!userForm.valid" mat-raised-button color="primary">Adicionar</button>
  </div>
</form>
