.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-right: 20px;
}

.item-card {
  max-width: 80%;
  min-width: 60%;
  margin-bottom: 1%;
}

.name {
  min-width: 49%;
  margin-right: 10px;
}

.email {
  min-width: 49%;
}

.body {
  min-width: 100%;
}

mat-card-actions {
  margin-left: .5%;
  margin-bottom: -1%;
}

.socialMedia {
  min-width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebookIcon {
  background: url("https://image.flaticon.com/icons/svg/174/174848.svg") no-repeat;
  color: transparent;
  padding: 12px 16px;
  margin-right: 1%;
}

.twitterIcon {
  background: url("https://image.flaticon.com/icons/svg/174/174876.svg");
  color: transparent;
  padding: 12px 16px;
}

.linkedinIcon {
  background: url("https://image.flaticon.com/icons/svg/174/174857.svg") no-repeat;
  color: transparent;
  padding: 12px 16px;
  margin-left: 1%;
}
